
.nav-link{
    color: orange;
    text-decoration: none;
}

main {
    max-width: 600px;
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: auto;
    margin-right: auto;
}

section{
    margin-top: 44px;
    margin-bottom: 44px;
    border: 3px dotted orange;
    /*padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;*/
    padding: 16px;
}

#title{
    font-size: 40px;
    font-weight: 800;
}

.d-inline {
    display: inline;
}

nav ul {
    list-style: none;
}

body{
    background-color: #222222;
    color: #EEEEEE;
}

#avatar {
    width: 100px;
    margin: 32px auto 32px auto;
}